[Unit]
Description=Service for controlling nibe speed based on automation hat input switch
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/niberator/switch-speed-by-hat-input.py

[Install]
WantedBy=multi-user.target
